<table>
    <thead>
    <th>Name</th>
    <th>Age</th>
    <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="view in viewData" ng-include="getTemplate(view)">
    </tr>
    <tr ng-repeat="view in viewData">
        <td>{[{ view }]}</td>

    </tr>
    </tbody>
</table>



<script type="text/ng-template" id="display">



    <td>
        <button ng-click="editContact(contact)">Edit</button>
    </td>
</script>
<script type="text/ng-template" id="edit">
    <td><input type="text" ng-model="viewData.selected" /></td>
    <td><input type="text" ng-model="viewData.selected" /></td>
    <td>
        <button ng-click="saveContact($index)">Save</button>
        <button ng-click="reset()">Cancel</button>
    </td>
</script>