*.exe
test.index/*.*
static/*.out
static/images/*.*
static/js/src/*.*
static/css/angular-bootstrap-lightbox.min.css
static/css/angular-bootstrap-toggle.min.css
static/css/angular-switcher.min.css
.idea/*.*
.idea/copyright
conf.yaml
imager/conf.yaml
*.env