html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    font-size: 13px;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    overflow-y: scroll;
}
h3 {
    margin-top: 5px;
}
.msg-error {
    color:red;
}
.track .panel-body {
    height: 42px;
}
.row>img {
    width:100%;
    background-size:cover;
}
.thumbnail {
    max-width:100px;
    display:inline;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px;
}

.comment .panel-heading {
    height: 29px!important;

}

.header {
    background-color: #ccecef;
}

.width-25 {
    width: 25%;
}
.input-name span {
    padding-left: 18px;
    width: 100%;
    float: left;
    height: 33px;
    background: #f5f5f5;
    line-height: 30px;
}

.panel-body.high {
    line-height: 30px;
    height: 45px;
}

.panel-body.high span {
    padding: 11px 8px 16px 8px;
    height: 33px;
    background: #f5f5f5;
}
.panel-heading.high {
    line-height: 30px;
    height: 47px;
}

.panel-body.high input {
    height: 36px;
}

.container {
    width: 1220px;
}
.section.scanned {
    padding: 5px;
    border: 1px solid #ddd;
}
.border-bottom {
    border-bottom: 1px solid #ddd;
}
.row-view {
    width: 100%;
    margin: 5px 0px;
    display: block;
    height: 58px;
    border: 1px solid #000;
    clear: both;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}


.gov {
    min-height: 20px;
    height: auto;
    clear: both;
}
.gov:first-child .gov-field div{
    border-top:none;
}
.gov:last-child .gov-field div{
    border-bottom:1px solid #ddd;
}
.gov:nth-child(26) .gov-field div,.gov:nth-child(28) .gov-field div,
.gov:nth-child(18) .gov-field div, .gov:nth-child(17) .gov-field div,
.gov:nth-child(16) .gov-field div,
#report1 .gov:nth-child(31) .gov-field div, #report1 .gov:nth-child(44) .gov-field div,
#report2 .gov:nth-child(44) .gov-field div,#report2 .gov:nth-child(28) .gov-field div,
#report2 .gov:nth-child(31) .gov-field div {
    height: 35px;
}

.gov-field div:first-child,.gov-field-header div:first-child {
    text-align: left;
    width: 33%;
}

.gov-field div, .gov-field-header div {
    padding: 2px!important;
    font-size: 11px;
    text-align: center;
    width: 3.04%;
    float: left;
}

.gov-field div {
    border-bottom: none;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.gov-field-header div {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}


.doc-name {
    border-bottom: 1px solid #ddd;
}

.doc-tabs ul {
    margin-bottom: 13px;
}

.page-name {
    width:97%;
    float: left;
}

.edit-page {
    float: right;
    width:3%;
    cursor: pointer;
}
.view-print {
    float: right;
    width:3%;
    cursor: pointer;
}
.print {
    padding-top: 10px;
    width:3%;
    float: left;
}

.field-name {
    height: 100%;
    border: 1px solid #ddd;
    font-size: 11px;
    width: 7.692%;
    float: left;
    overflow: hidden;
    display: inline-block;
}

.field-name.first-field ,.first-field .col-header {
    width: 33.1%;
    height: 160px;
}

.field-name.first-field, .first-field {
    font-size: 18px;
    padding: 37px 0px 0px 10px;
}

.field-names {
    height: 160px;
    width: 100%;
}

.field-name .rotated {
    width: 134px;
    word-wrap: break-word;
    -webkit-transform: translate(1.1em,0) rotate(90deg);
    -moz-transform: translate(1.1em,0) rotate(90deg);
    -o-transform: translate(1.1em,0) rotate(90deg);
    transform: translate(1.1em,0) rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 27px 31px;
    -ms-transform: none;
    -ms-transform-origin: none;
    -ms-writing-mode: tb-rl;
}

.broken {
    float: left;
    height: 160px;
    width: 66.90%;
}

.broken .broken-header {
    width: 99.9%;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-left: none;
    text-align: center;
}

.broken-header h5 {
    padding: 4px;
    margin: 0px;
}

.broken .broken-body {

}
.broken-body .field-name {
    border-left: 0px solid #ddd;
}
.broken-body .field-name:first-child,.broken-body .field-name:nth-child(2),
.field-name:nth-child(3), .field-name:nth-child(4){
    width: 36px;
}
.broken-body .field-name:nth-child(n+5) {
    width: 9.09%;
}

.broken-body .field-name:nth-child(-n+4) .rotated{
    transform-origin: 1px 10px;
}

.rotated:before {
    content: "";
    float: left;
    margin-top: 100%;
}


.developer .form-control {
    float: left;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

switcher.col-xs-1 {
    width: 11.8%;
    padding: 3px 13px 0px 13px;
}
.styled .switcher-line:before { height: 20px; }
/* bar backgrounds */
.styled         .switcher-line:before { background: #e35144; }
.styled .active .switcher-line:before { background: #4ecb32; }

.col-xs-1.heading {
    padding-right: 10px;
    padding-left: 10px;
    width: 8.8%;
    height: 34px;
    padding-top: 8px;
    background: #f3f3f3;
    text-align: center;
}
.col-xs-2.heading {
    margin-top: 4px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px!important;
    height: 34px;
    background: #f3f3f3;
    text-align: center;
}

.inline-show {
    padding-left: 11px;
    padding-top: 8px;
}

.year-body .input-group .inline-show{
    padding-left: 15px;
}
.comment .panel-body {
    height: auto;
    width: 100%;
}
textarea {
    width: 98%!important;
}
.inline .btn {
    padding:0px 12px;
}
.panel {
    margin-bottom: 7px;
}

.panel-body {
    padding: 5px 15px!important;
}

.panel-heading {
    padding: 5px 15px!important;
}

.form-save-buttons h2 {
    margin-top: 0px;
}
.period {
    width: 100%;
    margin-bottom: 20px;
}
.period .header {
    height: 25px;
}
.period .add {
    min-height: 1px;
    width: 50%;
    display: block;
    margin: 0 auto;
    clear: both;
}
.period .remove-block {
    width: 127px;
    float: right;
    margin-top: 1px;
}

.period .remove-block button {

    float: right;
}

.period .ask {
    float: left;
    width: 86px;
}
.period .ask button {
    line-height: 6px;
    font-size: 11px;
    float: left;
}
.period .ask button:first-child{
    float: left;
    margin-right: 4px;
}

.period .remove {
    line-height: 15px;
    padding: 1px 0px 0px 0px;
    margin-left: 12px;
    width: 28px;
}
.period-year {
    line-height: 22px;
    font-size: 11px;
}
button.btn.btn-default:first-child {
    border-radius: 0px 0px 0px 0px;
}
button.btn.btn-default:nth-child(2){
    border-radius: 0px 4px 4px 0px;
}
.search-pgn {
    text-align: center;
}

.switch, .switch-res {
    margin-bottom: 2px;

}
#track-edit .switch {
    background: #d0d0ce;
}
.switch .panel-heading {
    height: 47px;
}
#track-edit .switch.basic {
    background: #f1f1ef;
}

#track-edit .switch-res {
    background: #f1f1ef;
}

#broken-switch .panel.panel-default.pull-left {
    margin-right: 5px;
}

.glyphicon-question-sign {
    font-size: 15px;
    color: #337ab7;
}

.track .switch-res .comment, .track .switch .comment {
    width: 100%!important;
}

.track .switch .panel:first-child {
    border-radius: 5px 0px 0px 5px;
    width: 79%;
}

.track .switch .panel:nth-child(2) {
    border-left: none;
    width: 21%;
    border-radius: 0px 5px 5px 0px;
}

.track .switch .panel:nth-child(2) .panel-heading {
    text-align: center;
}

.track .switch .high, .create-track .switch .high {
    height: 47px;
}

.switch-res-heading {
    height: 47px;
}

.comment-show {
    padding-left: 9px;
}

.track .switch-res .panel:first-child {
    border-radius: 5px 0px 0px 5px;
    width: 57%;
}

.track .switch-res .panel:nth-child(2) {
    border-left: none;
    width: 22%;
    border-radius: 0px;
}
.track .switch-res .panel:nth-child(3) {
    border-left: none;
    width: 21%;
    border-radius: 0px 5px 5px 0px;
}
.track .switch-res .panel:nth-child(2) .panel-heading, .switch-res .panel:nth-child(3) .panel-heading {
    text-align: center;
}

.track .requisits .panel-body {
    height: auto;
}
.track .input-group {
    width: 100%;
}

.track .input-group input {
    font-size: 13px;
    height: 33px;
    border-radius: 4px!important;
}
.switch-reate .comment {
    float: left;
    width: 80.4%;
}

.switch-reate .comment .panel-body{
    min-height: 42px;
}

.switch-reate .high {
    width: 19.6%;
}

.create-track input {
    height: 26px;
}
.create-track h3 {
    background: #f5f5f5;
}
h3.col-xs-10.add_or_not {
    width: 80.7%;
}

.col-xs-2.add_or_not {
    float: left;
    min-height: 1px;
    position: relative;
    width: 19%;
}

.swtch {
    width: 119px!important;
    padding: 3px 15px;
    font-size: 13px;
}

.disabled {
    pointer-events: none;
    padding-top: 6px;
    opacity: 0.5;
    background: #CCC;
}
.years .panel-body {
    height: 43px;
}

.years .col-xs-2 {
    padding-top: 5px;
}
.text-input input {
    border-radius: 4px 4px 4px 4px!important;
}



.col-xs-12.clearfix.comment {
    border-top: 1px solid #ddd;
    padding-top: 8px;
}


/*report 2*/

div#report {
    font-size: 11px;
}
#report1 .field-names {
    border-right: 1px solid #ddd;
}
#report1 .broken-body .field-name:last-child, #report1 .broken-header {
    border-right: none;
}
#report2 .gov-field .gov-name:first-child {
    width: 34.05%;
}
#report2 .gov-field .gov-name:nth-child(2) {
    width: 4.56%;
}
#report2 .gov-field .gov-name:nth-child(3) {
    width: 4.45%;
}
#report2 .gov-field .gov-name:nth-child(4) {
    width: 4.45%;
}
#report2 .gov-field .gov-name:nth-child(5) {
    width: 4.53%;
}
#report2 .gov-field .gov-name:nth-child(6) {
    width: 6.0%;
}
#report2 .gov-field .gov-name:nth-child(7) {
    width: 4.75%;
}
#report2 .gov-field .gov-name:nth-child(8) {
    width: 4.65%;
}
#report2 .gov-field .gov-name:nth-child(9) {
    width: 4.79%;
}
#report2 .gov-field .gov-name:nth-child(10) {
    width: 4.8%;
}
#report2 .gov-field .gov-name:nth-child(11) {
    width: 5.8%;
}
#report2 .gov-field .gov-name:nth-child(12) {
    width: 5.7%;
}
#report2 .gov-field .gov-name:nth-child(13) {
    width: 5.7%;
}
#report2 .gov-field .gov-name:last-child{
    width: 5.7%;
}
.header-block {
    border: 1px solid #ddd;
    width: 100%;
    height: 150px;
}
.col, .unit {
    border-left: none!important;
    border-bottom: none!important;
}
.unit {
    border-top: none!important;
}
.col-units {
    border-right: none;
    border-bottom: none!important;
}
.col-header, .col-names, .col-units, .col, .unit {
    text-align: center;
    border: 1px solid #ddd;
    float: left;
}

.second-field, .third-field, .fourth-field, .fifth-field {
    float: left;
}

#report2 .second-field .col, .second-field .unit {
    width:25%;
}

.second-field .col-names .col:nth-child(4), .second-field .col-units .unit:nth-child(4) {
    border-right: none;
}

.col-names, .col-units, .col-header  {
    clear: both;
    width:100%;
}
.table.table-striped {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.first-field {
    height: auto;
    float: left;
    width: 34%;
}

.gov-name:first-child {
    border-left: none;
}

.gov-name:last-child {
    border-right: none;
}
#report2 .second-field {
    width: 18%;
}
.second-field .col-header, .second-field .col-names,
.second-field .col-units {
    border-right: none;
}
#report2 .second-field .col-header {
    height: 116px;

}
.second-field .col-names {
    border-bottom: none;
    border-top: none;
}
.second-field .col-units, .second-field .col-names {
    border-right: none;
}

#report2 .third-field {
    width: 6%;
    float: left;
}
#report2 .third-field .col-header {
    height: 132px;
}
.third-field .unit {
    border-left: none;
    border-right: none;
    width: 100%;
    text-align: center;
}

#report2 .fourth-field {
    width:19%
}
#report2 .fourth-field .col-header {
    height: 26px;
}
.col-header {
    border-top: none;
    border-bottom: none;
}
#report2 .fifth-field {
    width:23%;
}
#report2 .fourth-field .col {
    width: 50%;
    float: left;
}

.fourth-field .col-names .col:first-child {
    border-left: none;
}
.fourth-field .col-names ,.fourth-field .col-names .col:nth-child(2),
.fourth-field .col-units .unit:nth-child(4){
    border-right: none;
}

.fourth-field .col-units {
    border-left: none;
    border-right: none;
}
.fourth-field .col {
    border-top: none;
}

#report2 .fourth-field .unit {
    width: 25%;
    float: left;
}
#report2 .fourth-field .col-names, #report2 .fourth-field .col-header {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#report2 .fifth-field .col {
    height: 93px;
}
.fifth-field .col-names {
    border-right: none;
    border-bottom: none;
}
#report2 .fifth-field .col,#report2 .fifth-field .unit {
    width: 25%;
    float: left;
}
#report2 .fifth-field .col-header {
    height: 38px;
}
#report2 .fifth-field .col-header, #report2 .col:last-child,
#report2 .unit:last-child {
    border-right: none;
}
#report2 .gov:nth-child(44) .gov-field div {
    height: 41px;
}

.fifth-field .col {
    border-top: none;
}

.fifth-field .col-units {
    border-right: none;
}

/*report 2*/

/*report 3*/
#report3 .gov-field .gov-name:first-child {
    width: 50.1%;
}
#report3 .gov-field .gov-name:nth-child(2) {
    width: 10%;
}
#report3 .gov-field .gov-name:nth-child(3) {
    width: 10%;
}
#report3 .gov-field .gov-name:nth-child(4) {
    width: 4.98%;
}
#report3 .gov-field .gov-name:nth-child(5) {
    width: 4.97%;
}
#report3 .gov-field .gov-name:nth-child(6) {
    width: 4.96%;
}
#report3 .gov-field .gov-name:nth-child(7) {
    width: 4.98%;
}
#report3 .gov-field .gov-name:nth-child(8) {
    width: 10%;
}



#report3 .header-block {
    height: 108px;
}

#report3 .first-field {
    height: auto;
    float: left;
    width: 50%;
}

#report3 .second-field {
    width: 20%;
}
#report3 .second-field .col:nth-child(2), #report3 .second-field .unit:nth-child(2){
 border-right: none;
}

#report3 .second-field .col,  #report3 .second-field .unit,#report4 .second-field .col{
    width: 50%;
}
#report3 .second-field .col-header {
    height: 74px;
}

#report3 .third-field {
    width: 20%;
}
#report3 .third-field .col {
    width:50%;
}
#report3 .third-field .col:nth-child(2) {
    border-right: none;
}
#report3 .third-field .unit {
    border-right: 1px solid #ddd;
}
#report3 .third-field .unit:nth-child(4) {
    border-right: none;
}

#report3 .third-field .col-names {
    border-top: none;
    border-bottom: none;
}
#report3 .third-field .col-header {
    height: 74px;
}


#report3 .third-field .unit {
    width:25%;
}
#report3 .fourth-field {
    width: 10%;
}
#report3 .fourth-field .col-header {
    border-right: none;
    border-left: none;
}
#report3 .fourth-field .unit{
    border-right: none;
    width: 100%;
}
/*report 3*/

/*report 4*/
#report4 .gov-name:first-child {
    width: 41.1%;
}
#report4 .gov-name:nth-child(2),#report4 .gov-name:nth-child(3){
    width: 5.44%;
}
#report4 .gov-name:nth-child(4) {
    width: 11.07%;
}
#report4 .gov-name:nth-child(5),#report4 .gov-name:nth-child(6) {
    width: 3.5%;
}
#report4 .gov-name:nth-child(7) {
    width: 10.05%;
}
#report4 .gov-name:nth-child(8) {
    width: 9.9%;
}
#report4 .gov-name:nth-child(9){
    width: 9.98%;
}
#report4 .header-block {
    height: 108px;
}

#report4 .first-field {
    height: auto;
    float: left;
    width: 41%;
}

#report4 .second-field {
    width: 11%;
}

#report4 .second-field .col-header {
    height: 90px;
    border-right: 1px solid #ddd;
}

#report4 .third-field {
    width: 11%;
}
#report4 .third-field .col-header {
    height: 90px;
    border: none;
}
#report4 .third-field .col-names {
    border-left: none;
    border-right: none;
}

#report4 .fourth-field {
    width: 7%;
}
#report4 .fourth-field .col-header {
    border-right: none;
}

#report4 .fourth-field .col {
    width: 50%;
}

#report4 .fifth-field {
    width: 30%;
}
#report4 .fifth-field .col-header {
    border-right: none;
    height: 45px;
}
#report4 .fifth-field .col:last-child {
    border-right: none;
}
#report4 .fifth-field .col {
    width: 33.3333%;
    height: 61px;
}

.report-filter {
    background: #f7f7f7;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 3px 0px;
}
.report-filter .col-md-3:first-child {
    padding-top: 4px;
}
/*report 4*/

/* image and uploader */

.img-wrap {
    position: relative;
    display: inline-block;
    border: 1px red solid;
    font-size: 0;

}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    padding: 1px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .5;
    text-align: center;
    font-size: 17px;
    line-height: 10px;
    border-radius: 5px!important;
}
.img-wrap:hover .close {
    opacity: 1;
}
.img-wrap img{
    height: 100px;
}
li.image {
    list-style: none;
    margin: 2px;
    float: left;
}

/* image and uploader */

.uploader form {
    float: left;
    padding-right: 5px;
}

.images {

    margin: 1px 1px 17px 1px;
    padding: 10px;
    background: #f7f7f7;
    min-height: 150px;
    width: 100%;
    height: auto;
}

.images ul {
    overflow: hidden;
    -webkit-padding-start: 4px;
}

.no-images h1 {
    color: rgba(226, 226, 226, 0.8);
    text-align: center;
    text-shadow: 1px 4px 6px #efefef, 0 0 0 #000, 1px 4px 6px #f3f3f3;
}
.governments .government {
    background: #fff;
    height: 20px;
}
.governments .government:nth-child(odd) {
    background: #eee;
}


.governments .input-group {
    width: 100%;
}
.governments .inline-show {
    padding-top: 0px;
}


.governments .col-xs-1 {
    width: 1%;
}
.governments .col-xs-11 {
    width: 97%;
}
.governments input {
    height: 26px;
    width: 100%;
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }