<!--create-article.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Create Article</h1>


<div class="panel panel-default col-sm-12">
    <div class="panel-body">
        <!--If there's an error, display the error-->
        {{ if .ErrorTitle}}
        <p class="bg-danger">
            {{.ErrorTitle}}: {{.ErrorMessage}}
        </p>
        {{end}}
        <!--Create a form that POSTs to the `/article/create` route-->
        <form class="form" action="/views/create" method="POST">
            <div class="form-group">
                <label for="name_and_requisits">name_and_requisits</label>
                <input type="text" class="form-control" id="name_and_requisits" name="name_and_requisits" placeholder="name_and_requisits">
            </div>
            <div class="form-group">
                <label for="reg_date">reg_date</label>
                <input type="text" class="form-control" id="reg_date" name="reg_date" placeholder="reg_date"></input>
            </div>
            <div class="form-group">
                <label for="id_reg_number">id_reg_number</label>
                <input type="text" class="form-control" id="id_reg_number" name="id_reg_number" placeholder="id_reg_number">
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}