<!--menu.html-->

<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="/">
                Головна
            </a></li>
            <!--Display this link only when the user is logged in-->
            <li><a href="/track/create">Додати</a></li>

            {{ if not .is_logged_in }}
            <!--Display this link only when the user is not logged in-->
            <li><a href="/u/register">Реєстрація</a></li>
            {{end}}
            {{ if not .is_logged_in }}
            <!--Display this link only when the user is not logged in-->
            <li><a href="/u/login">Вхід</a></li>
            {{end}}

            <!--Display this link only when the user is logged in-->
            <li><a href="/ratings">Якість ЦОВВ</a></li>

            {{ if .is_logged_in }}
            <!--Display this link only when the user is logged in-->
            <li><a href="/u/logout">Вихід</a></li>
            {{end}}
        </ul>
    </div>
</nav>