<h2 class="col-xs-12">Додати відстеження</h2>

<div class="col-xs-12 clearfix">
    <div class="panel panel-default">
        <div class=" panel-heading">Назва та реквізити регуляторного акта</div>
        <div class="panel-body"> <input type="text" ng-model="form_data.name_and_requisits" class="form-control"/></div>
    </div>
</div>

<div class="col-xs-12 clearfix">
    <div class="panel panel-default">
        <div class="col-xs-8 panel-heading">Реквізити реєстрації регуляторного акта в Мінюсті</div>
        <div class="col-xs-4 panel-heading">&nbsp;</div>
        <div class="clearfix">
            <div class="col-xs-1 pull-left panel-body">Дата реєстрації</div>
            <div class="col-xs-3 pull-left panel-body">
                <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="form_data.reg_date"
                is-open="popup.opened" datepicker-options="dateOptions" close-text="Close"/>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </div></div></div>

            <div class="col-xs-1 pull-left panel-body">Номер реєстрації</div>
            <div class="col-xs-2 pull-left panel-body"><input type="text" ng-model="form_data.id_reg_number" class="form-control"/></div>

            <div class="col-xs-2 pull-left panel-body">Дата набуття чинності</div>
            <div class="col-xs-3 pull-left panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="form_data.actuality_date"
                           is-open="popup.opened" datepicker-options="dateOptions" close-text="Close"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div></div></div>
        </div>
    </div>
</div>

<div class="col-xs-12 clearfix">
    <div class="panel panel-default">
        <div class=" panel-heading">Розробник регуляторного акта</div>
        <div class=" panel-body"><input type="text" ng-model="form_data.act_developer" class="form-control"/></div>
    </div>
</div>

<div class="col-xs-12 clearfix ">
    <div class="panel panel-default">
        <div class=" panel-heading">Рішення Держпідприємництва щодо погодження</div>
        <div class=" panel-body"><input type="text" ng-model="form_data.government_choice" class="form-control"/></div>
    </div>
</div>

<div class="col-xs-12 clearfix years">
    <div class="panel panel-default">
        <div class=" panel-heading">Рік відстеження</div>
        <div class=" panel-body">
            <div class="col-xs-4 pull-left">
                <input type="text"
                       ng-model="form_data.year_of_tracing"
                       placeholder="Рік відстеження"
                       uib-typeahead="year for year in years"
                       class="form-control"
                       typeahead-min-length="0"
                       typeahead-focus-on-select="true"
                       typeahead-editable="false">
            </div>
            <div class="col-xs-1 pull-left">Базовий</div>
            <toggle class="col-xs-1 pull-left" ng-model="form_data.year_base" on="Так" off="Ні" ></toggle>
            <div class="col-xs-1 pull-left">Повторний</div>
            <toggle class="col-xs-1 pull-left" ng-model="form_data.year_rep" on="Так" off="Ні" ></toggle>
            <div class="col-xs-1 pull-left">Періодичний</div>
            <toggle class="col-xs-1 pull-left" ng-model="form_data.year_period" on="Так" off="Ні" ></toggle>
            <div class="col-xs-1 pull-left">Фактичний</div>
            <toggle class="col-xs-1 pull-left" ng-model="form_data.year_fact" on="Так" off="Ні" ></toggle>
        </div>
    </div>
</div>

<div class="col-xs-12 clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">Термін здійснення заходів з відстеження</div>
        <div class="clearfix panel-body">
            <div class="col-xs-1 pull-left">Базового</div>
            <div class="col-xs-3 pull-left">
                <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="form_data.termin_basic"
                       is-open="popup.opened" datepicker-options="dateOptions" close-text="Close"/>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </div></div></div>
            <div class="col-xs-1 pull-left ">Повторного</div>
            <div class="col-xs-3 pull-left">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="form_data.termin_periodical"
                           is-open="popup.opened" datepicker-options="dateOptions" close-text="Close"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div></div></div>
            <div class="col-xs-1 pull-left ">Періодичного</div>
            <div class="col-xs-3 pull-left">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="form_data.termin_repeated"
                           is-open="popup.opened" datepicker-options="dateOptions" close-text="Close"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div></div></div>
        </div>
    </div>
</div>

<div class="col-xs-12 clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">Результати відстеження результативності</div>
        <div class="clearfix">
            <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.32);overflow: hidden">
                <div class="col-xs-1 pull-left panel-body" >Базового</div>
                <div class="col-xs-11 pull-left panel-body">
                    <input  class="form-control" ng-model="form_data.result_basic"></div></div>
            <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.32);overflow: hidden">
                <div class="col-xs-1 pull-left panel-body">Повторного</div>
                <div class="col-xs-11 pull-left panel-body">
                    <input  class="form-control" ng-model="form_data.result_periodical"></div></div>
            <div class="col-xs-1 pull-left panel-body" >Періодичного</div>
            <div class="col-xs-11 pull-left panel-body">
                <input  class="form-control" ng-model="form_data.result_repeated"></div></div>
        </div>
    </div>
</div>


<div class="col-xs-12 clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">Дата підписання  звіту  про відстеження результативності регуляторного акта</div>
        <div class="clearfix panel-body">
            <div class="col-xs-1 pull-left">Базового</div>
            <div class="col-xs-3 pull-left">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="form_data.signation_basic"
                           is-open="popup.opened" datepicker-options="dateOptions" close-text="Close"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div></div></div>
            <div class="col-xs-1 pull-left ">Повторного</div>
            <div class="col-xs-3 pull-left">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="form_data.signation_periodical"
                           is-open="popup.opened" datepicker-options="dateOptions" close-text="Close"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div></div></div>
            <div class="col-xs-1 pull-left ">Періодичного</div>
            <div class="col-xs-3 pull-left">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="form_data.signation_repeated"
                           is-open="popup.opened" datepicker-options="dateOptions" close-text="Close"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div></div></div>
        </div>
    </div>
</div>

<div class="col-xs-12 clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">Дата оприлюденення  звіту  про відстеження результативності регуляторного акта</div>
        <div class="clearfix panel-body">
            <div class="col-xs-1 pull-left">Базового</div>
            <div class="col-xs-3 pull-left">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="form_data.publication_basic"
                           is-open="popup.opened" datepicker-options="dateOptions" close-text="Close"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div></div></div>
            <div class="col-xs-1 pull-left ">Повторного</div>
            <div class="col-xs-3 pull-left">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="form_data.publication_periodical"
                           is-open="popup.opened" datepicker-options="dateOptions" close-text="Close"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div></div></div>
            <div class="col-xs-1 pull-left ">Періодичного</div>
            <div class="col-xs-3 pull-left">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="form_data.publication_repeated"
                           is-open="popup.opened" datepicker-options="dateOptions" close-text="Close"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div></div></div>
        </div>
    </div>
</div>


<div class="col-xs-12 clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">Дата надання  звіту  про відстеження результативності регуляторного акта до Держпідприємництва </div>
        <div class="clearfix panel-body">
            <div class="col-xs-1 pull-left">Базового</div>
            <div class="col-xs-3 pull-left">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="form_data.gived_basic"
                           is-open="popup.opened" datepicker-options="dateOptions" close-text="Close"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div></div></div>
            <div class="col-xs-1 pull-left ">Повторного</div>
            <div class="col-xs-3 pull-left">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="form_data.gived_periodical"
                           is-open="popup.opened" datepicker-options="dateOptions" close-text="Close"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div></div></div>
            <div class="col-xs-1 pull-left ">Періодичного</div>
            <div class="col-xs-3 pull-left">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="form_data.gived_repeated"
                           is-open="popup.opened" datepicker-options="dateOptions" close-text="Close"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div></div></div>
        </div>
    </div>
</div>


<div class="col-xs-12 clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">Висновок Комітету щодо відповідності звіту вимогам постанови КМУ від 11.03.04 р. №308</div>
        <div class="clearfix">
            <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.32);overflow: hidden">
                <div class="col-xs-1 pull-left panel-body" >Базового</div>
                <div class="col-xs-11 pull-left panel-body">
                    <input  class="form-control" ng-model="form_data.conclusion_basic"></div></div>
            <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.32);overflow: hidden">
                <div class="col-xs-1 pull-left panel-body">Повторного</div>
                <div class="col-xs-11 pull-left panel-body">
                    <input  class="form-control" ng-model="form_data.conclusion_periodical"></div></div>
            <div class="col-xs-1 pull-left panel-body" >Періодичного</div>
            <div class="col-xs-11 pull-left panel-body">
                <input  class="form-control" ng-model="form_data.conclusion_repeated"></div></div>
    </div>
    </div>
</div>

<div class="col-xs-12 clearfix">
    <div class="panel panel-default">
        <div class=" panel-heading">Коментар</div>
        <div class=" panel-body"><textarea class="form-control" ng-model="form_data.comment"></textarea></div>
    </div>
</div>